
<div class="container">

    <h2 style="margin: 40px;">update</h2>

    <form action="/update" method="POST" autocomplete="off">

        <div class="form-group">

            <label for="fullName">Full Name:</label>

            <input type="text" class="" id="fullName" placeholder="Enter Full Name" value="{{list.fullName}}" name="fullName">

        </div>

        <div class="form-group">

            <label for="email">Email:</label>
            
            <input type="email" id="email" placeholder="Enter email" value="{{list.email}}" name="email">
       
        </div>

         <div class="form-group">

            <label for="mobile">Mobile:</label>

            <input type="text" class="" id="mobile" placeholder="Enter Mobile"  value="{{list.mobile}}" name="mobile">

        </div>

         <div class="form-group">

            <label for="city">City:</label>

            <input type="text" class="" id="city" placeholder="Enter City" value="{{list.city}}" name="city">

        </div>

        <input type="hidden" class="" id="fullName" placeholder="Enter Full Name" value="{{list._id}}" name="id">
        
        <button type="submit" class="btn btn-primary">Submit</button>
    
    </form>
</div>